<div class='detail'>
	<div class='detail_hlavni'>
			<h2 class="hlavni_nadpis"></h2>
			<dl class='detail_podrobnosti'>
				<dt class='detail_popisek'></dt>
					<dd></dd>
				<dt class='detail_popisek'></dt>
					<dd></dd>
				<dt class='detail_popisek'></dt>
					<dd></dd>
				<dt class='detail_popisek'></dt>
					<dd></dd>
			</dl>
	</div>
</div>