<div class='detail'>
	<div class='detail_hlavni'>
			<h2 class="hlavni_nadpis">Duna</h2>
<dl class="detail__podrobnosti">
			<dt class="detail__popisek">Rok:</dt><dd>2021</dd>
			<dt class="detail__popisek">Země:</dt>
			<dd>USA, Kanada</dd>
			<dt class="detail__popisek">Žánr:</dt>
			<dd>Sci-Fi / Akční / Dobrodružný / Drama</dd>
			<dt class="detail__popisek">Délka:</dt>
			<dd>155 minut</dd>
		</dl>			
		<h3 class="podnadpis">Obsah</h3>
		<p class="detail__obsah">
			Kultovní sci-fi dílo vypráví o mocenských bojích uvnitř galaktického Impéria, v nichž jde o ovládnutí planety Arrakis: zdroje vzácného koření - melanže, jež poskytuje zvláštní psychické schopnosti, které umožňují cestování vesmírem. Padišáh imperátor svěří správu nad Arrakisem a s ní i komplikovanou těžbu neobyčejné látky vévodovi rodu Atreidů. Celá anabáze je ale součástí spiknutí, z něhož se podaří vyváznout jen vévodovu synovi Paulovi a jeho matce, kteří uprchnou do pouště. Jejich jedinou nadějí jsou nedůvěřiví domorodí obyvatelé fremeni, schopní trvale přežít ve vyprahlé pustině. Mohl by Paul Atreides být spasitelem, na kterého tak dlouho čekají?
			<span class="autor">
		(<a class="autor__odkaz" href="http://www.vertical-ent.cz/">Vertical Ent.</a>)
</span>
</p>

		</div>
	</div>
</div>