<footer class="zapati">
    <div class="zapati_obsah">
        <div class="zapati_sloupce">
            <section>
               <h2 class="zapati_nadpis">Podobné weby </h2> 
               <ul class="zapati_seznam">
                   <li class="paticka__polozka">
							<a class="paticka__odkaz" href="https://www.csfd.cz/">ČSFD.cz</a>
						</li>
                        <li class="paticka__polozka">
							<a class="paticka__odkaz" href="https://www.imdb.com/">IMDb</a>
						</li>
                        <li class="paticka__polozka">
							<a class="paticka__odkaz" href="https://filmtoro.cz/">Filmtoro</a>
						</li>
                        <li class="paticka__polozka">
							<a class="paticka__odkaz" href="https://www.rottentomatoes.com/">Rotten Tomatoes</a>
						</li>
               </ul>
            </section>
            <section class="paticka__sekce">
				<h2 class="paticka__nadpis">Obecné</h2>
				<ul class="paticka__seznam">
					<li class="paticka__polozka">
						<a class="paticka__odkaz" href="/puvod-dat/">Původ dat</a>
					</li>
					<li class="paticka__polozka">
						<a class="paticka__odkaz" href="https://www.11ty.dev/">Eleventy dokumentace</a>
					</li>
					<li class="paticka__polozka">
						<a class="paticka__odkaz" href="https://github.com/Czechitas-podklady-WEB/Cviceni-Eleventy-filmy">Zadání cvičení</a>
					</li>
				</ul>
			</section>
        </div>
    </div>
</footer>