<footer class="zapati">
    <div class="zapati_obsah">
        <div class="zapati_sloupce">
            <section>
               <h2 class="zapati_seznam">Podobné weby </h2> 
            ČSFD.cz
            Filmtoro
            Rotten Tomatoes
            </section>
        </div>
    </div>
</footer>