<footer class="zapati">
    <div class="zapati_obsah">
        <div class="zapati_sloupce">
            Podobné weby 
            ČSFD.cz
            Filmtoro
            Rotten Tomatoes
        </div>
    </div>
</footer>