<footer class="zapati">
    <div class="zapati_obsah">
        <div class="zapati_sloupce">
            Podobné weby <br>
            ČSFD.cz<br>
            Filmtoro<br>
            Rotten Tomatoes
        </p>
    </div>
</footer>