---
layout: zakladni
pagination:
  data: filmy
  size: 1
  alias: film
permalink: "/film/{{ film.nazev | slug }}/"
---

<div class=detail>
<h2 class='film_nazev'>{{ film.nazev }}</h2>
<div class='detail_podrobnosti'>
<p><span class='detail_popisek'>Rok:</span>{{ film.rok }}</p>
<p><span class='detail_popisek'>Země:</span>{{ film.zeme }}</p>
<p><span class='detail_popisek'>Žánr:</span>{{ film.zanr }}</p>
<p><span class='detail_popisek'>Délka:</span>{{ film.delka }}</p>
</div>
<h3 class='nadpis_stredni'>Obsah</h3>

<p> {{ film.obsah.text }} (<a class='autor_odkaz' href='{{ film.obsah.autor.odkaz }}'>{{ film.obsah.autor.jmeno }}</a>) </p>

<aside>
    <img class="film_obrazek" src={{film.plakat.url}}>
    <section>
      <h3 class="nadpis_maly">Hodnoceni</h3>
      <div class="hvezdy  hvezdy--skore-{{film.hodnoceni}}"></div>
    </section>
    {% if film.souvisejici | length > 0 %}
    <section>
      <h3 class="nadpis_maly">Souvisejici filmy</h3>
      <ul class="list">
        {% for film in film.souvisejici %}
        <li class="list__item">
          <a class="list__link" href="/film/{{ film.nazev | slug }}">{{ film.nazev }}</a>
        </li>
        {% endfor %}
      </ul>
    </section>
    {% endif %}
  </aside>

</div>