---
layout: zakladni
---


<div class=telo>
<h1>Všechny</h1>
<ul>
	{% for film in filmy %}
		<li class="seznam_filmu">
            <a class='seznam_polozka' href="/film/{{ film.nazev | slug }}">{{ film.nazev }}</a>
        </li>
	{% endfor %}
</ul>
</div>

<div class='detail'>
	<div class='detail_hlavni'>
			<h2 class="hlavni_nadpis">Duna</h2>
			<div class='detail_podrobnosti'>
				<p class='detail_popisek'></p>
			</div>
	</div>
</div>