---
layout: zakladni
---


<div class=telo>
<h1>Všechny</h1>
<ul>
	{% for film in filmy %}
		<li ::before class="seznam_filmu" >
            <a class='seznam_polozka' href="/film/{{ film.nazev | slug }}"> 
	{{ film.nazev }}</a>
        </li>
	{% endfor %}
</ul>
</div>
