<!DOCTYPE html>
<html lang="cs">
	<head>
		<link rel="stylesheet" href="/index.css">
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>FILMY.cz</title>
	</head>
	<body>
		{% include "hlavicka.njk" %}
		{{ content | safe }}
		</body>
</body>
</html>