html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	font-family: 'Roboto', sans-serif;
	margin: 0;
}

.layout {
	display: grid;
}
.telo {
	margin-left: 1550.5rem;
}