html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	font-family: 'Roboto', sans-serif;
	margin: 0;
}

.layout {
	display: grid;
}
.telo {
	margin-left: 155.5px;
}

a.seznam_filmu:visited {
	color: blue;
}

.seznam_filmu::before {
    content: "";
    margin-bottom: 0.1em;
    width: 0.5em;
    height: 0.5em;
    background-color: blue;
    display: inline-block;
    margin-right: 0.5em;
}

