html {
	display: block;
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	font-family: 'Roboto', sans-serif;
	margin: 0;
}

.layout {
	display: grid;
}
.telo {
	margin-left: 155.5px;
}

.seznam_filmu::before {
    content: "";
    margin-bottom: 0.1em;
    width: 0.5em;
    height: 0.5em;
    background-color: blue;
    display: inline-block;
    margin-right: 0.5em;
}

.seznam_polozka:visited {
	color: blue;
}

.seznam_polozka:active {
	text-decoration: underline;
}
.hvezdy::after {
	background-image: url(/obrazky/hvezda-prazdna.svg);
	flex-grow: calc(5 - var(--skore));
  }