
Skip to content
Pull requests
Issues
Marketplace
Explore
@Alenotak
Alenotak /
Cviceni-Eleventy-filmy
Public
forked from Czechitas-podklady-WEB/Cviceni-Eleventy-filmy

0
0

    25

Code
Pull requests
Actions
Projects
Wiki
Security
Insights

    Settings

Cviceni-Eleventy-filmy/src/styly/komponenty/telo.scss
@Alenotak
Alenotak zaloha
Latest commit bdcd12d yesterday
History
1 contributor
27 lines (23 sloc) 399 Bytes
.telo {
    max-width: 52rem;
    width: 100%;
    padding: 2rem 1rem;
    margin: 0 auto;
}

h1 {
    margin: 0 0 0 0.5rem;
    font-size: 2rem;
}

.seznam_filmu {
    padding: 0.2em 0;
    line-height: 1.1;
}

.seznam_filmu::before {
    content: "";
    margin-bottom: 0.1em;
    width: 0.5em;
    height: 0.5em;
    background-color: blue;
    display: inline-block;
    margin-right: 0.5em;
}

    