<!DOCTYPE html>
<html lang="cs">
	<head>
		<link rel="stylesheet" href="/index.css">
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>FILMY.cz</title>
		<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-HKFRYTCJMX"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-HKFRYTCJMX');
</script>
	</head>
	<body>
		{% include "hlavicka.njk" %}
		{{ content | safe }}		
</body>
<footer> 	
		{% include "zapati.njk" %}
</footer>
</html>