.hlavicka {
	background-color: #9c27b0;
    height: 64px;
    width: 100%;
    display: block;
}

.hlavicka_obsah {
    padding: 1rem 0 1rem 0;
    width: 100%;
    margin: 0 auto;
    margin: 0 0 0 155.5px;
}

.hlavicka_logo {
    display: flex;
    margin: 0px;
}

.logo {
    display: inline-flex;
}