.paticka {
    font-family: "Roboto", sans-serif;
    box-sizing: inherit;
    background-color: #fafafa;
    padding: 1rem 0;
}

.paticka_obsah {
    font-family: "Roboto", sans-serif;
    box-sizing: inherit;
    max-width: 52rem;
    width: 100%;
    margin: 0 auto;
    padding: 1rem;
}